.flow-container ol {
  list-style: none;
}
.flow-container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  width: 299px;
  height: 159px;
  border: 1px;
  border-radius: 9px;
  border-color: #e7daed;
}

/* ----Level1---- */
.level-1-wrapper {
  position: relative;
  display: grid;
  left: -2.5%;
  grid-template-columns: repeat(2, 1fr);
}

.level-1-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  height: 2px;
  background: var(--cian);
}
.level-1-wrapper li {
  position: relative;
  bottom: 20px;
}

.level-1 {
  width: 70%;
  margin: 0 auto 40px;
  /* background: var(--level-1); */
}
.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background: var(--cian);
}
.level-1::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--cian);
}

/* ----Level2---- */
.level-2-wrapper {
  position: relative;
  display: grid;
  left: 2.5%;
  grid-template-columns: repeat(2, 1fr);
}
.level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 94%;
  height: 2px;
  background: var(--cian);
}
.level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  height: 2px;
  background: var(--cian);
}
.level-2-wrapper li {
  position: relative;
}
.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background: var(--cian);
}
.level-2 {
  width: 70%;
  margin: 0 auto 40px;
  /* background: var(--level-1); */
}
.level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--cian);
}
.level-3 {
  /* width: -100%; */
  left: calc(95% + 2px);
  top: 35%;
  /* margin: 0 auto 40px; */
  position: absolute;
  /* background: var(--level-1); */
}
/* .level-3::after {
  display: none;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--cian);
} */
